<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flat Management Log</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminFML/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/adminFML/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminFML/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/adminFML/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminFML/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminFML/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/adminFML/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/adminFML/plugins/summernote/summernote-bs4.min.css">

   
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/adminFML/dist/img/adminFMLLogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

       
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="https://github.com/B4LT4Z4R/FML-APP" class="brand-link">
                <img src="~/adminFML/dist/img/adminFMLLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 1">
                <span class="brand-text font-weight-light">Flat Management Log</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
              

               

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

             <hr width="100%" color="white" />

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="ToDos" class="nav-link">
                                <i class='fas fa-tasks'></i>

                               
                                <p>
                                    To Do's                                  
                                </p>
                            </a>
                        </li>
 <hr width="100%" color="white" />


                        <li class="nav-item">
                             <a asp-area="" asp-controller="Home" asp-action="Rooms" class="nav-link">
                                <i class='fas fa-project-diagram'></i>
                                <p>
                                    Rooms & Entities

                                </p>
                            </a>
                        </li>
 <hr width="100%" color="white" />


                        <li class="nav-item">
                             <a asp-area="" asp-controller="Home" asp-action="Tenants" class="nav-link">
                                <i class='fas fa-hand-holding-usd'></i>
                                <p>
                                    Tenants

                                </p>
                            </a>
                        </li>

 <hr width="100%" color="white" />

                        <li class="nav-item">
                            <a  <a asp-area="" asp-controller="Home" asp-action="Buildings" class="nav-link">
                                <i class='fas fa-city'></i>
                                <p>
                                    Buildings

                                </p>
                            </a>
                        </li>
 <hr width="100%" color="white" />


                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
  <hr width="100%" color="red" />
                        <li class="nav-item">
                            <a asp-area=""asp-controller="Home" asp-action="Logout" class="nav-link">
                                <i class='fas fa-sign-out-alt' style='font-size:24px;color:red'></i>
                                <p>
                                    Çıkış Yap

                                </p>
                            </a>
                        </li>
                      
  <hr width="100%" color="red" />
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">        
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2024 </strong>
            Tüm hakları saklıdır.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/adminFML/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminFML/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/adminFML/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminFML/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/adminFML/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/adminFML/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/adminFML/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/adminFML/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/adminFML/plugins/moment/moment.min.js"></script>
    <script src="~/adminFML/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/adminFML/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/adminFML/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/adminFML/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminFML/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminFML/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/adminFML/dist/js/pages/dashboard.js"></script>
</body>
</html>
